* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.header-wrapper h1{
  font-size:20PX;
  color:red;}

.header-wrapper h2{
  font-size:10px;}

.header-wrapper p{
  font-size:8px;}

